# List Comprehensions Lab

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [1]:
import os
import numpy as np
import pandas as pd

### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [11]:
[i+1 for i in range(50)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [18]:
[i+2 for i in range(200) if i % 2 == 0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200]

### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 Numpy array below.

In [38]:
a = np.array([[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]])

In [50]:
[i for fila in a for i in fila]

[0.84062117,
 0.48006452,
 0.7876326,
 0.77109654,
 0.44409793,
 0.09014516,
 0.81835917,
 0.87645456,
 0.7066597,
 0.09610873,
 0.41247947,
 0.57433389,
 0.29960807,
 0.42315023,
 0.34452557,
 0.4751035,
 0.17003563,
 0.46843998,
 0.92796258,
 0.69814654,
 0.41290051,
 0.19561071,
 0.16284783,
 0.97016248,
 0.71725408,
 0.87702738,
 0.31244595,
 0.76615487,
 0.20754036,
 0.57871812,
 0.07214068,
 0.40356048,
 0.12149553,
 0.53222417,
 0.9976855,
 0.12536346,
 0.80930099,
 0.50962849,
 0.94555126,
 0.33364763]

### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [60]:
[i for fila in a for i in fila if i>0.5]

[0.84062117,
 0.7876326,
 0.77109654,
 0.81835917,
 0.87645456,
 0.7066597,
 0.57433389,
 0.92796258,
 0.69814654,
 0.97016248,
 0.71725408,
 0.87702738,
 0.76615487,
 0.57871812,
 0.53222417,
 0.9976855,
 0.80930099,
 0.50962849,
 0.94555126]

### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 Numpy array below.

In [22]:
b = np.array([[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]])

In [92]:
[i for fila in b for col in fila for i in col]

[0.55867166,
 0.06210792,
 0.08147297,
 0.82579068,
 0.91512478,
 0.06833034,
 0.05440634,
 0.65857693,
 0.30296619,
 0.06769833,
 0.96031863,
 0.51293743,
 0.09143215,
 0.71893382,
 0.45850679,
 0.58256464,
 0.59005654,
 0.56266457,
 0.71600294,
 0.87392666,
 0.11434044,
 0.8694668,
 0.65669313,
 0.10708681,
 0.07529684,
 0.46470767,
 0.47984544,
 0.65368638,
 0.14901286,
 0.23760688]

### 5. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [94]:
[i for fila in b for col in fila for i in col if i>0.5]

[0.55867166,
 0.82579068,
 0.91512478,
 0.65857693,
 0.96031863,
 0.51293743,
 0.71893382,
 0.58256464,
 0.59005654,
 0.56266457,
 0.71600294,
 0.87392666,
 0.8694668,
 0.65669313,
 0.65368638]

### 6. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

In [98]:
import os
import pandas as pd
from pathlib import Path
import numpy as np
import glob

In [96]:
p = Path("/Users/nestormirandabaez/Ironhack/Module_1/Week_1/01-lab-list-comprehensions/data")
[ele.name for ele in p.iterdir() if ele.suffix == '.csv']

['sample_file_1.csv',
 'sample_file_0.csv',
 'sample_file_2.csv',
 'sample_file_3.csv',
 'sample_file_7.csv',
 'sample_file_6.csv',
 'sample_file_4.csv',
 'sample_file_5.csv',
 'sample_file_8.csv',
 'sample_file_9.csv']

### 7. Use a list comprehension and the Pandas `read_csv` and `concat` methods to read all CSV files in the */data* directory and combine them into a single data frame. Display the top 10 rows of the resulting data frame.

In [222]:
all_files = [ele for ele in p.iterdir() if ele.suffix == '.csv']
li = []

for filename in all_files:
    df = pd.read_csv(filename)
    li.append(df)

frame = pd.concat(li)

In [224]:
print(frame.head(10))

          0         1         2         3         4         5         6  \
0  0.276827  0.260054  0.942397  0.113187  0.781355  0.475740  0.152061
1  0.995885  0.158381  0.244274  0.962163  0.651900  0.930665  0.577190
2  0.641917  0.821055  0.392437  0.782617  0.510762  0.428320  0.017324
3  0.806532  0.569258  0.148175  0.809987  0.459632  0.735762  0.730664
4  0.311185  0.501165  0.365979  0.782807  0.776795  0.797199  0.791946
0  0.734751  0.195362  0.734309  0.598184  0.763433  0.263434  0.868066
1  0.772607  0.445391  0.249642  0.787922  0.598583  0.827238  0.624126
2  0.226428  0.268764  0.694262  0.622335  0.063843  0.122683  0.815625
3  0.362748  0.495430  0.113876  0.594149  0.612522  0.625204  0.864050
4  0.033415  0.340433  0.464971  0.363737  0.025815  0.434129  0.415163

          7         8         9        10        11        12        13  \
0  0.250324  0.147078  0.162984  0.977025  0.509619  0.593212  0.911839
1  0.087914  0.960261  0.580840  0.194616  0.661459  0.674085  0.049326
2  0.680720  0.340412  0.462513  0.785776  0.251949  0.032847  0.995700
3  0.934502  0.080322  0.763502  0.398504  0.027637  0.409665  0.942846
4  0.847157  0.771811  0.233944  0.522344  0.053030  0.208551  0.824354
0  0.058092  0.753502  0.587513  0.311608  0.178356  0.182922  0.147631
1  0.601524  0.688753  0.338870  0.081595  0.471474  0.267443  0.453351
2  0.584542  0.032594  0.589775  0.764350  0.650973  0.565705  0.691784
3  0.260279  0.528873  0.168043  0.715929  0.677014  0.175735  0.632370
4  0.892210  0.381701  0.415264  0.790801  0.696930  0.819751  0.944029

         14        15        16        17        18        19
0  0.257645  0.386457  0.696932  0.069162  0.952291  0.286542
1  0.785803  0.315645  0.495355  0.232135  0.549324  0.572232
2  0.816563  0.735692  0.435998  0.430411  0.531757  0.489528
3  0.133256  0.157158  0.929446  0.402791  0.685976  0.246594
4  0.588567  0.604341  0.232964  0.229109  0.022881  0.479022
0  0.391188  0.816049  0.749068  0.293260  0.937828  0.880858
1  0.800716  0.045749  0.683793  0.389789  0.016787  0.503695
2  0.265223  0.739031  0.560394  0.334802  0.517694  0.646110
3  0.926715  0.085675  0.120525  0.141746  0.771144  0.489660
4  0.869965  0.041723  0.819140  0.676051  0.109349  0.872947

### 8. Use a list comprehension to select and print the column numbers for columns from the data set whose median is less than 0.48.

In [225]:
mini_df= []
filter = (np.median(frame,axis=0) < 0.48)
mini_df.append(frame.loc[: , filter])

print(mini_df)

[          2         9        12        14        17
0  0.942397  0.162984  0.593212  0.257645  0.069162
1  0.244274  0.580840  0.674085  0.785803  0.232135
2  0.392437  0.462513  0.032847  0.816563  0.430411
3  0.148175  0.763502  0.409665  0.133256  0.402791
4  0.365979  0.233944  0.208551  0.588567  0.229109
0  0.734309  0.587513  0.182922  0.391188  0.293260
1  0.249642  0.338870  0.267443  0.800716  0.389789
2  0.694262  0.589775  0.565705  0.265223  0.334802
3  0.113876  0.168043  0.175735  0.926715  0.141746
4  0.464971  0.415264  0.819751  0.869965  0.676051
0  0.918270  0.591727  0.177649  0.202404  0.159040
1  0.916655  0.586035  0.915342  0.489504  0.358977
2  0.954057  0.867511  0.552062  0.739656  0.602166
3  0.475459  0.410444  0.856437  0.326310  0.361873
4  0.336707  0.194299  0.531840  0.084884  0.437889
0  0.500995  0.037230  0.153783  0.330318  0.033474
1  0.152394  0.543442  0.580359  0.931264  0.509798
2  0.179986  0.181267  0.070744  0.948127  0.074394
3  0.681403  0.513575  0.082292  0.088025  0.515933
4  0.029834  0.956949  0.454788  0.095214  0.513342
0  0.735894  0.895810  0.617711  0.336094  0.856135
1  0.797730  0.674311  0.015081  0.132391  0.752866
2  0.892328  0.131970  0.034188  0.098536  0.655947
3  0.959355  0.105477  0.400774  0.844655  0.807400
4  0.736542  0.390542  0.366139  0.175482  0.904593
0  0.245083  0.783107  0.207432  0.349212  0.886644
1  0.467321  0.048724  0.721515  0.338366  0.773155
2  0.005691  0.847337  0.898464  0.443979  0.302786
3  0.833368  0.547769  0.931623  0.821099  0.183948
4  0.184239  0.212762  0.634487  0.394633  0.538712
0  0.596603  0.717817  0.394465  0.084206  0.267455
1  0.708804  0.737445  0.073603  0.798467  0.631497
2  0.567476  0.418311  0.234886  0.421263  0.726412
3  0.121713  0.360098  0.847880  0.490628  0.567280
4  0.553956  0.197302  0.473574  0.413186  0.351496
0  0.183148  0.080025  0.543498  0.960030  0.660811
1  0.802663  0.156926  0.940414  0.933377  0.407580
2  0.120652  0.048815  0.090451  0.192501  0.858956
3  0.476889  0.349850  0.841210  0.101031  0.149982
4  0.055405  0.449771  0.158077  0.730355  0.078734
0  0.673568  0.111557  0.446974  0.713369  0.982256
1  0.850528  0.892183  0.429496  0.283769  0.688337
2  0.807189  0.184300  0.573440  0.032852  0.719610
3  0.407187  0.684265  0.756593  0.551369  0.792803
4  0.392800  0.634608  0.682941  0.450950  0.221165
0  0.160848  0.882762  0.016789  0.984182  0.867894
1  0.089925  0.412141  0.176157  0.834378  0.602258
2  0.789796  0.633154  0.908288  0.462130  0.076819
3  0.935787  0.892383  0.846208  0.471880  0.665568
4  0.273505  0.922742  0.389451  0.129955  0.365442]

### 9. Use a list comprehension to add a new column (20) to the data frame whose values are the values in column 19 minus 0.1. Display the top 10 rows of the resulting data frame.

In [235]:
new_frame=[]
calculation = frame['18']-0.1
new_frame.append(calculation)

print(new_frame)

frame = pd.append(new_frame)
print(frame)

[0    0.852291
1    0.449324
2    0.431757
3    0.585976
4   -0.077119
0    0.837828
1   -0.083213
2    0.417694
3    0.671144
4    0.009349
0    0.551457
1    0.741539
2    0.144210
3    0.045952
4    0.442376
0    0.017277
1    0.777048
2    0.286949
3    0.862827
4    0.730389
0    0.673953
1    0.393862
2    0.492733
3    0.077419
4    0.703629
0    0.372826
1    0.385385
2   -0.048618
3    0.272739
4    0.785516
0    0.112403
1   -0.042047
2    0.358360
3    0.471539
4    0.447297
0    0.420295
1    0.022453
2    0.716036
3   -0.064850
4    0.348741
0    0.462498
1    0.069525
2    0.063670
3    0.694426
4    0.791382
0    0.013432
1    0.884628
2    0.697836
3    0.831542
4    0.747818
Name: 18, dtype: float64]

AttributeError: module 'pandas' has no attribute 'append'

### 10. Use a list comprehension to extract and print all values from the data set that are between 0.7 and 0.75.